@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: #111;
    --primary-text: #000000;
    --bg-color: #ffffff;
    --primary: #4ef09d;
    --primary-bg: #ecebeb;
    --table-bg: #cccccc;
    --danger: #ff5a5a;
}

.dark-mode {
    --primary-text: #4ef09d;
    --text-color: #fdfdfd;
    --bg-color: #000000;
    --primary-bg: #464646;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}
